openapi: 3.1.0
info:
  title: Cisco Webex Control Hub Admin AdminAuditEvents Organizations API
  description: 'Programmatic access to Cisco Webex Control Hub administration surfaces:

    organizations, people, licenses, locations, workspaces, devices, and

    admin audit events. Authentication uses OAuth 2.0 access tokens or

    service-app tokens scoped to the organization.

    '
  version: 1.0.0
  contact:
    name: Webex for Developers
    url: https://developer.webex.com/docs/api/v1/admin-audit-events
servers:
- url: https://webexapis.com/v1
security:
- bearerAuth: []
tags:
- name: Organizations
paths:
  /organizations:
    get:
      tags:
      - Organizations
      summary: List organizations
      operationId: listOrganizations
      parameters:
      - in: query
        name: max
        schema:
          type: integer
      responses:
        '200':
          description: A list of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
  /organizations/{orgId}:
    parameters:
    - in: path
      name: orgId
      required: true
      schema:
        type: string
    get:
      tags:
      - Organizations
      summary: Get organization details
      operationId: getOrganization
      responses:
        '200':
          description: An organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
    delete:
      tags:
      - Organizations
      summary: Delete an organization
      operationId: deleteOrganization
      responses:
        '204':
          description: Deleted
components:
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        created:
          type: string
          format: date-time
        xsiActionsEndpoint:
          type: string
          format: uri
        xsiEventsEndpoint:
          type: string
          format: uri
        xsiEventsChannelEndpoint:
          type: string
          format: uri
        bcBaseDomain:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2-Access-Token
