openapi: 3.1.0
info:
  title: Cisco Webex Control Hub Admin AdminAuditEvents Locations API
  description: 'Programmatic access to Cisco Webex Control Hub administration surfaces:

    organizations, people, licenses, locations, workspaces, devices, and

    admin audit events. Authentication uses OAuth 2.0 access tokens or

    service-app tokens scoped to the organization.

    '
  version: 1.0.0
  contact:
    name: Webex for Developers
    url: https://developer.webex.com/docs/api/v1/admin-audit-events
servers:
- url: https://webexapis.com/v1
security:
- bearerAuth: []
tags:
- name: Locations
paths:
  /locations:
    get:
      tags:
      - Locations
      summary: List locations
      operationId: listLocations
      parameters:
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: orgId
        schema:
          type: string
      - in: query
        name: max
        schema:
          type: integer
      responses:
        '200':
          description: A list of locations
    post:
      tags:
      - Locations
      summary: Create a location
      operationId: createLocation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
      responses:
        '200':
          description: Created location
  /locations/{locationId}:
    parameters:
    - in: path
      name: locationId
      required: true
      schema:
        type: string
    get:
      tags:
      - Locations
      summary: Get location details
      operationId: getLocation
      responses:
        '200':
          description: A location
    put:
      tags:
      - Locations
      summary: Update a location
      operationId: updateLocation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
      responses:
        '200':
          description: Updated location
components:
  schemas:
    Location:
      type: object
      properties:
        id:
          type: string
        orgId:
          type: string
        name:
          type: string
        timeZone:
          type: string
        preferredLanguage:
          type: string
        address:
          type: object
          properties:
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            country:
              type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2-Access-Token
